<% layout('layouts/post-show-layout') -%>

<h1><%= post.title %></h1>
<div> Price: <%= post.price%></div>
<div> <%= post.description%> </div>
<div> <%= post.location %> </div>
<div>
    <% post.images.forEach(image=>{%>
        <img src="<%= image.url %>" alt="surf-board" width="200px" height="200px">
    <%})%>
</div>
<div id="map"></div>
<div><a href="/posts/<%= post.id %>/edit"><button>Edit</button></a></div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
    </form>
</div>
<div>
    <h2>Reviews</h2>
    <h3>Create a Review</h3>
    <form action="/posts/<%= post.id %>/reviews" method="post">
        <textarea name="review[body]" id="" required></textarea>
        <input type="number" name="review[rating]" min="1" max="5" step="1" required id="">
        <input type="submit" >
    </form>
</div>
<!--Display all reviews-->
<h2>All reviews</h2>
<% post.reviews.forEach(review=>{%>
    <div>
        Author: <%= review.author.username %><br>
        <%= review.body%>
        <br>
        Rating: <%= review.rating %>
        <div>
            <button class="toggle-edit-form">Edit</button>
            <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="post" class="edit-review-form">
                <textarea name="review[body]" id="" required><%= review.body%></textarea>
                <input type="number" name="review[rating]" min="1" max="5" step="1" required id="" value="<%= review.rating %>">
                <input type="submit" value="update"> 
            </form>
        </div>
        <hr>
    </div>
<%})%>
